ion-menu ion-icon ion-label{
   font-weight: 500 !important;
   font-size: 20px;
}

@media (min-width: 992px) {
   ion-menu {
       min-width: 280px;
       max-width: 20%;
   }
}

.build-menu-list {
   background-color: var(--ion-color-secondary) !important;
}

.selected {
   --ion-item-background: #13263a !important;
}

.repose {
   --ion-item-background: var(--ion-color-secondary) !important;
}