.layout-bg{
   --background: #fff url(../img/background-mobile.png) no-repeat center center / cover !important;
}

.toast-text {
   font-size: 18px;
}

.top-bar {
   position: sticky;
   z-index: 1;
   background: #fff;
   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   width: 100%;
   top: 0px;
   height: 55px;
   padding-top: 15px;
   text-transform: capitalize;
}

.top-bar-title {
   padding-left: 15px !important;
}

.card-content-text {
   font-size: 16px;
   text-align: justify;
}

.card-content-text p{
   font-size: 16px;
   padding-bottom: 15px;
}

.card-title-text {
   font-size: 20px;
}

.ion-item-repo {
   border: 1px solid #e4e4e4;
   border-radius: 10px;
   margin-top: 15px;
   text-transform: capitalize;
}